.pages {
	text-align: center;
}

.Space {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 30px;
	padding-left: 15px;
}

.Spacex {
	padding-right: 25%;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 40px;
}

header {
	background-color: black;
	padding: 25px;
}
form {
	border-collapse: collapse;
	display: block;
	color: white;
	width: 10%;
	margin-left: 80%;
}

legend {
	text-align: center;
}

footer {
	background-color: #2E2E2E;
	padding: 25px;
}

li {
	margin-right: 80%;
	color: white;
}

.official {
	border-collapse: collapse;
	display: block;
	font-size: 30px;
	margin-top: -11%;
}

.ofLink {
	color: white;
}

.ofLink:hover {
	background-color: #A9A9A9;
}

.custom {
	border-collapse: collapse;
	font-size: 30px;
	margin-left: 40%;
	margin-top: -11%;
}

.cusLink:hover {
	background-color: #A9A9A9;
}

.cusLink {
	color: white;
}

.dr {
	border-collapse: collapse;
	border: 20px solid #FFFFFF;
	width: 65%;
}

.info {
	border-collapse: collapse;
	display: block;
	margin-left: 70%;
	margin-top: -35%;
	margin-bottom: 15%;
	font-size: 25px;
}

a {
	text-decoration: none;
}